*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyContent{
    background-color: darkgray;
}


.navbar {
    height: 50px;
    width: 100%;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover {
    color: black;
}

